doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Marketplace
    link(rel="stylesheet", href="css/index.css")
    <link href="https://cdn.jsdelivr.net/npm/nouislider@15.5.1/distribute/nouislider.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/nouislider@15.5.1/distribute/nouislider.min.js"></script>
    
  body
    .marketplace
      header
        h1 Marketplace
        input.search-bar(type="text" placeholder="Search for a product, flower, etc.")
        .product-types
          button.active Buds
          button.active Edible
          button.active Non Edible
          button.active Concentrate
      .slider-filters
          
          .slider-container
           
          
           
           
          .slider-container
          
          div#price-slider
          input#price-value(type="range" min="0" max="1000" value="234")
          .slider-container
          h4 THC %
          div#thc-slider
          input#thc-value(type="range" min="0" max="1000" value="234")
          .slider-container
          h4 CBD %
          div#cbd-slider
          input#cbd-value(type="range" min="0" max="1000" value="234")
      .slider-container
        h4 Price Range
        
        ul.selected-list 
      
        
        
    
    

  //- Pug template
.wrapper
  .selected-filters
    h4 Выбранные фильтры:
    ul.selected-list

  .filters
    h3 Classification
    ul
      li.class-list
        input(type="checkbox" id="indica100" name="classification" value="100% Indica")
        label(for="indica100") 100% Indica
      li.list
        input(type="checkbox" id="sativa100" name="classification" value="100% Sativa")
        label(for="sativa100") 100% Sativa
      li.class-list
        input(type="checkbox" id="indica50" name="classification" value=">50% Indica")
        label(for="indica50") >50% Indica
      li.class-list
        input(type="checkbox" id="sativa50" name="classification" value=">50% Sativa")
        label(for="sativa50") >50% Sativa

    h3 Production Method
    ul
      li.class-list
        input(type="checkbox" id="indoor" name="production" value="Indoor")
        label(for="indoor") Indoor
      li.class-list
        input(type="checkbox" id="outdoor" name="production" value="Outdoor")
        label(for="outdoor") Outdoor
      li.class-list
        input(type="checkbox" id="greenhouse" name="production" value="Greenhouse")
        label(for="greenhouse") Greenhouse

    h3 Size
    ul
      li.class-list
        input(type="checkbox" id="flower" name="size" value="Flower")
        label(for="flower") Flower
      li.class-list
        input(type="checkbox" id="preRoll" name="size" value="Pre-Roll Flower")
        label(for="preRoll") Pre-Roll Flower

    script(src="js/index.js")      

        

  

