doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Marketplace
    link(rel="stylesheet" href="css/index.css")
  body
    header
      h1 Marketplace
      input(type="text" placeholder="Search for a product, flower, etc.")
      button Buds
      button Edible
      button Non Edible
      button Concentrate
    main
      .filters
        

        h5 Price Range
        .slider
          input(type="range" min="0" max="1000" value="234")
          p 234$ - 1034.5 Results

        h5 THC, %
        .slider
          input(type="range" min="0" max="100" value="65")

        h5 CBD, %
        .slider
          input(type="range" min="0" max="100" value="65")

        h5 Nose
        .nose
          span(4)
          span(3)
          span(5)

    
    .checkbox-group
      p 1034,5 Results
      label
        input(type="checkbox")
        | 100% Indica
      label
        input(type="checkbox")
        | 100% Sativa
      label
        input(type="checkbox")
        | 50% Indica
      label
        input(type="checkbox")
        | 50% Sativa
          

        
      .sort
          h2 Sort by
          ul
            li Date (New first)
            li Date (Old first)
            li Price (High first)
            li Price (Low first)
            li Total THC (High first)
            li Total CBD (High first)
      .main-content
        // Здесь можно добавить контент, например, продукты
