@use "../../core/config/css" as config;
@use "../../core/lib/css" as lib;

body {
  font-family: 'Arial', sans-serif;
  background-color: #121212; // Темный фон
  color: #ffffff;
  margin: 0;
}

header {
  background-color: #1f1f1f; // Фон заголовка
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: #6dcc4b; // Зеленый цвет для заголовка
  }

  input[type="text"] {
    background-color: #2a2a2a; // Цвет для текстового поля
    border: none;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    width: 200px;
  }

  button {
    background-color: #444; // Цвет кнопок
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #6dcc4b; // Цвет при наведении
    }
  }
}

main {
  display: flex;
  padding: 20px;
}

.filters {
  background-color: #2e2e2e; // Цвет бокового фильтра
  padding: 20px;
  width: 300px;
  border-radius: 8px;

  h2 {
    color: #6dcc4b; // Зеленый заголовок
  }

  .slider {
    margin: 10px 0;
    display: flex;
    align-items: center;

    input[type="range"] {
      width: 100%;
      margin: 0 10px;
    }

    p {
      color: #ccc; // Цвет текста результатов
      margin: 0;
    }
  }

  label {
    display: flex;
    align-items: center;
    margin-top: 10px;

    input {
      margin-right: 10px;
    }
  }
}

.nose {
  display: flex;
  margin: 10px 0;

  span {
    background-color: yellow;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%; // Округление для визуального представления
  }
}

.sort {
  background-color: #2e2e2e; // Цвет сортировки
  padding: 20px;
  margin-left: 20px;
  border-radius: 8px;

  h2 {
    color: #6dcc4b; // Зеленый заголовок
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      color: #ffffff; // Цвет текста
    }
  }
}


